<HTML>
<HEAD>
   <TITLE> SecurID Next Tokencode Request </TITLE>
</HEAD>
<BODY>

<H1 ALIGN=CENTER>SecurID Next Tokencode Request</H1>

<P>
<HR>You are required to enter the &quot;Next Tokencode&quot; from your
SecurID token. (The tokencode is the code that your token generates <B>without</B>
your PIN.)</P>

<P>Please wait for the code in the display of your token to change, then
enter the code in the &quot;Next Tokencode&quot; field and press the &quot;Send&quot;
button.</P>

<HR>%s<HR>

<FORM method=POST action="%s">
<INPUT TYPE=HIDDEN NAME="username" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="referrer" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="sd_time"  VALUE="%d">

<CENTER><TABLE>
<TR>
<TD><B>Next Tokencode:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="nextprn" VALUE="" MAXLENGTH=32></TD>

<TD><INPUT TYPE=SUBMIT VALUE="Send"></TD>
</TR>
</TABLE></CENTER>
</FORM>

<HR>

</BODY>
</HTML>
