/*____________________________________________________________________________
	Copyright (C) 1998 Network Associates, Inc.
	All rights reserved.
	
	PGPmemlock.rc - PGPmemlock version information
	

	$Id: pgpMemLock.rc,v 1.5 1998/08/11 13:43:55 pbj Exp $
____________________________________________________________________________*/
#include <windows.h>

#include "pgpver.h"


/*---------------------------------------------------*/
/* The following values should be modified only by   */
/* the official builder, and they should be updated  */ 
/* for each build                                    */
/*---------------------------------------------------*/

#define VER_PRODUCTBUILD	  0
#define VER_PRODUCTVERSION_STR "1.0"
#define VER_PRODUCTVERSION	  1,0,VER_PRODUCTBUILD,1
#define VER_PRODUCTBETA_STR	  ""


/*---------------------------------------------------*/
/* Include product-specific default values           */
/*										    		 */
/*---------------------------------------------------*/

#define VER_PRODUCTNAME_STR		"PGPmemlock"
#define VER_FILETYPE			VFT_DRV
#define VER_FILESUBTYPE			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR	"Page-locking kernel mode driver"
#define VER_INTERNALNAME_STR		"PGPmemlock.sys"
#define VER_ORIGINALFILENAME_STR	"PGPmemlock.sys"

/*---------------------------------------------------*/
/* Define the version resource itself                */
/*										    		 */
/*---------------------------------------------------*/
#include <common.ver>




