<HTML>
<HEAD>
   <TITLE> SecurID PASSCODE Request </TITLE>
</HEAD>
<BODY>

<H1 ALIGN=CENTER>SecurID PASSCODE Request</H1>

<P>
<HR>The page you are attempting to access requires that you authenticate
using your SecurID token. </P>

<P>Please enter your Username and SecurID PASSCODE in the following fields,
then click the &quot;Send&quot; button. If you make a mistake, use the
&quot;Reset&quot; button to clear the fields. 
<HR>%s </P>

<P><FORM method=POST action="%s"></P>

<CENTER><TABLE>
<TR>
<TD><B>Username:</B></TD>

<TD><INPUT TYPE=TEXT NAME="username" VALUE="%s" MAXLENGTH=32></TD>
</TR>

<TR>
<TD><B>PASSCODE:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="passcode" VALUE="" MAXLENGTH=32></TD>
</TR>
</TABLE></CENTER>

<HR>

<CENTER><P>
<INPUT TYPE=SUBMIT VALUE="Send">
<INPUT TYPE=RESET VALUE="Reset">
</P></CENTER>

<INPUT TYPE=HIDDEN NAME="referrer" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="sd_time" VALUE="%d">

</FORM>

<HR>

</BODY>
</HTML>
