/*
	PGPdisk.rc - version resources
	Copyright Notice (c)
 */

#include <winver.h>
#include "..\Shared\PGPdiskVersion.h"

#define VER_FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#define VER_FILEOS          VOS_NT_WINDOWS32
#define VER_FILEFLAGS		0

#define VER_PRODUCTVERSION_STR kPGPdiskFileVerString

#define VER_COMPANYNAME_STR 		kPGPdiskCompanyName
#define VER_PRODUCTNAME_STR 		kPGPdiskProductVerName
#define VER_LEGALCOPYRIGHT_STR		kPGPdiskCopyright
#define VER_PRODUCTVERSION_DW       (0x01000000 | VER_PRODUCTBUILD)

#define VER_FILETYPE    		VFT_DRV
#define VER_FILESUBTYPE 		VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR "PGPdisk Driver for Windows NT"
#define VER_INTERNALNAME_STR	"PGPdisk.sys"

#include "common.ver"
#include "msglog.rc"
