/*____________________________________________________________________________
	Copyright (C) 1998 Network Associates, Inc.
	All rights reserved.
	
	PGPwdel.rc - PGPwipedel version information
	

	$Id: PGPwd9x.rc,v 1.1 1999/04/09 02:37:20 wjb Exp $
____________________________________________________________________________*/
#include <ver.h>

#include "pgpver.h"


/*---------------------------------------------------*/
/* The following values should be modified only by   */
/* the official builder, and they should be updated  */ 
/* for each build                                    */
/*---------------------------------------------------*/

#define VER_PRODUCTBUILD	  	0
#define VER_PRODUCTVERSION_STR 	"1.7.1\0"
#define VER_PRODUCTVERSION	  	1,7,1,VER_PRODUCTBUILD
#define VER_FILEVERSION_STR 	"1.1\0"
#define VER_FILEVERSION	 	 	1,1,0,VER_PRODUCTBUILD
#define VER_PRODUCTBETA_STR	  	"\0"


/*---------------------------------------------------*/
/* Include product-specific default values           */
/*										    		 */
/*---------------------------------------------------*/

#define VER_FILEOS		   			VOS_DOS_WINDOWS32
#define VER_PRODUCTNAME_STR			"PGPsdk\0"
#define VER_FILETYPE				VFT_VXD
#define VER_FILESUBTYPE				VFT2_UNKNOWN
#if PGP_DEBUG
#define VER_FILEDESCRIPTION_STR		"Wipe on delete VxD driver (debug)\0"
#else
#define VER_FILEDESCRIPTION_STR		"Wipe on delete VxD driver\0"
#endif
#define VER_INTERNALNAME_STR		"PGPwd9x.vxd\0"
#define VER_ORIGINALFILENAME_STR	"PGPwd9x.vxd\0"

/*---------------------------------------------------*/
/* Define the version resource itself                */
/*										    		 */
/*---------------------------------------------------*/
#include <common.ver>




