<HTML>
<HEAD>
   <TITLE> SecurID New PIN Request </TITLE>
</HEAD>
<BODY>

<H1 ALIGN=CENTER>SecurID New PIN Request</H1>

<P>
<HR>Your token is in New PIN mode. </P>

<P>You can either create your own PIN or have the system generate one for
you. </P>

<P>To receive a system-generated PIN, select &quot;System-generated PIN&quot;
and click the &quot;Send&quot; button. Your new PIN will be displayed in
your browser for 10 seconds.</P>

<P>To create your own PIN, select &quot;I will create my PIN,&quot; type
in and verify your new PIN, then click the &quot;Send&quot; button. Use
the &quot;Reset&quot; button to clear the PIN fields if you make a mistake.</P>

<HR>%s<HR>

<FORM method=POST action="%s">
<INPUT TYPE=HIDDEN NAME="username" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="referrer" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="sd_time"  VALUE="%d">

<CENTER><TABLE>
<TR>
<TD><INPUT TYPE=RADIO NAME="pintype"  VALUE="1">System-generated PIN</TD>
</TR>

<TR>
<TD><INPUT TYPE=RADIO NAME="pintype"  VALUE="2" CHECKED>I will create my
PIN</TD>
</TR>

<TR>
<TD ALIGN=right><B>New PIN:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="newpin"  MAXLENGTH=%d></TD>
</TR>

<TR>
<TD ALIGN=right><B>Verify New PIN:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="nextprn" MAXLENGTH=%d></TD>
</TR>
</TABLE></CENTER>

<CENTER><P>
<HR>
<INPUT TYPE=SUBMIT VALUE="Send">
<INPUT TYPE=RESET VALUE="Reset">
<HR>
</P></CENTER>
</FORM>

</BODY>
</HTML>
