<HTML>
<HEAD>
   <TITLE> SecurID New PIN Request </TITLE>
</HEAD>
<BODY>

<H1 ALIGN=CENTER>SecurID New PIN Request.</H1>

<P>
<HR>Your token is in New PIN mode. </P>

<P>Your administrator has required to have a system-generated PIN. </P>

<P>Make sure nobody can see your screen, then click the &quot;Receive System-Generated
PIN&quot; button. The new PIN will display for 10 seconds.</P>

<HR>%s<HR>

<CENTER><P>
<FORM method=POST action="%s">
<INPUT TYPE=HIDDEN NAME="pintype"  VALUE="1">
<INPUT TYPE=HIDDEN NAME="username" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="referrer" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="sd_time"  VALUE="%d">
<INPUT TYPE=SUBMIT VALUE="Receive System-Generated PIN">
</FORM>
</P></CENTER>

<HR>

</BODY>
</HTML>
