<HTML>
<HEAD>
   <TITLE> SecurID New PIN Request </TITLE>
</HEAD>
<BODY>

<H1 ALIGN=CENTER>SecurID New PIN Request</H1>

<P>
<HR>Your token is in New PIN mode. </P>

<P>Enter a new PIN in the fields provided, then click the &quot;Send&quot;
button. Use the &quot;Reset&quot; button to clear the PIN if you make a
mistake. </P>

<HR>%s<HR>

<FORM method=POST action="%s">
<INPUT TYPE=HIDDEN NAME="pintype"  VALUE="2">
<INPUT TYPE=HIDDEN NAME="username" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="referrer" VALUE="%s">
<INPUT TYPE=HIDDEN NAME="sd_time"  VALUE="%d">

<CENTER><TABLE>
<TR>
<TD ALIGN=right><B>New PIN:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="newpin" MAXLENGTH=%d></TD>
</TR>

<TR>
<TD ALIGN=right><B>Verify New PIN:</B></TD>

<TD><INPUT TYPE=PASSWORD NAME="nextprn" MAXLENGTH=%d></TD>
</TR>
</TABLE></CENTER>

<CENTER><P>
<INPUT TYPE=SUBMIT VALUE="Send">
<INPUT TYPE=RESET VALUE="Reset">
</P></CENTER>
</FORM>

<HR>

</BODY>
</HTML>
