#include "windows.h"
#include "winvn.h"

/*
AboutBox DIALOG 22, 17, 144, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Mark Riordan"               -1,  0,  5, 144, 8
    CTEXT "UseNet News Reader"            -1,  0, 14, 144, 8
    CTEXT "Version 0.51--Nov 90"                 -1,  0, 34, 144, 8
    CTEXT "riordanmr@clvax1.cl.msu.edu"     -1, 0, 44, 144, 8
    DEFPUSHBUTTON "OK"          IDOK, 53, 59, 32, 14, WS_GROUP
END
*/

winvn   ICON winvn.ico
wvgroup ICON wvgroup.ico
wvart   ICON wvart.bmp
wvpost  ICON wvpost.bmp

ConfMenu MENU
BEGIN
  POPUP    "&Group"
  BEGIN
/*
    MENUITEM  "&View Selected"          IDM_VIEW_SEL_GROUP
    MENUITEM  SEPARATOR
    MENUITEM  "Show &Only Subscribed"   IDM_SHOW_SUBSCR
    MENUITEM  "Show &All"               IDM_SHOW_ALL_GROUP
    MENUITEM  SEPARATOR
    MENUITEM  "&Select Subscribed"      IDM_SEL_SUBSCR
    MENUITEM  "&Unselect All"           IDM_UNSEL_ALL
*/
    MENUITEM  "&Find..."                IDM_FIND
    MENUITEM  "Find &Next\tF4"              IDM_FIND_NEXT_SAME
    MENUITEM  SEPARATOR
    MENUITEM  "&Subscribe selected groups"    IDM_SUBSCRIBE
    MENUITEM  "&Unsubscribe selected groups"  IDM_UNSUBSCRIBE
    MENUITEM  "Move selected groups to &Top"  IDM_GROUP_TOP
    MENUITEM  "&Deselect all"           IDM_UNSEL_ALL
    MENUITEM  SEPARATOR
    MENUITEM  "E&xit"                   IDM_EXIT
    MENUITEM  "&Quit; don't save NEWSRC"  IDM_QUIT
  END
/*
  POPUP    "&Search"
  BEGIN
  END
*/
  POPUP    "&Options"
  BEGIN
    MENUITEM  "Configure &Comm..."       IDM_COMMOPTIONS
    MENUITEM  "Configure &Personal Info..."  IDM_CONFIG_PERSONAL
    MENUITEM  "Configure &Miscellaneous..."  IDM_CONFIG_MISC
    MENUITEM  SEPARATOR
    MENUITEM  "&Reset server protocol"   IDM_RESET
    MENUITEM  SEPARATOR
    MENUITEM  "&Compose mail message"    IDM_MAIL

/*
    MENUITEM  SEPARATOR
    MENUITEM  "New Window for each &Group"     IDM_NEW_WIN_GROUP
    MENUITEM  "New Window for each &Article"   IDM_NEW_WIN_ARTICLE
*/
  END

  POPUP    "&Help"
  BEGIN
    MENUITEM  "&Index"                IDM_HELP
    MENUITEM  SEPARATOR
    MENUITEM  "&About..."             ID_ABOUT
  END
/*
  MENUITEM    "&Help"                 IDM_HELP
*/
END


ViewMenu MENU
BEGIN
    POPUP   "&Articles"
    BEGIN
/*
        MENUITEM  "&Mark Read"      IDV_NEXT
        MENUITEM  SEPARATOR
*/
        MENUITEM  "&New posting"         IDV_CREATE
        MENUITEM  SEPARATOR
        MENUITEM  "E&xit"           IDV_EXIT
    END
    POPUP   "&Search"
    BEGIN
        MENUITEM  "&Find..."        IDM_FIND
        MENUITEM  "Find &Next\tF4"      IDM_FIND_NEXT_SAME
    END
END

ArtMenu MENU
BEGIN
   POPUP  "&File"
   BEGIN
      MENUITEM  "&Save"             IDM_SAVE
      MENUITEM  "Save &As..."       IDM_SAVEAS
      MENUITEM  "E&xit"             IDM_EXIT
   END
   POPUP  "&View"
   BEGIN
      MENUITEM  "&Next Article"     IDM_NEXT_ARTICLE
      MENUITEM  "Next with same &Subject\tF4"  IDM_FIND_NEXT_SAME
   END
   POPUP  "&Respond"
   BEGIN
      MENUITEM  "&Followup Article"     IDM_FOLLOWUP
      MENUITEM  "via &Mail"             IDM_MAIL
   END
END

PostMenu MENU
BEGIN
        POPUP    "&Posting"
   BEGIN
      MENUITEM "&Post completed article"      IDM_POST
      MENUITEM "&Cancel"                      IDM_CANCEL
   END
   POPUP    "&Edit"
   BEGIN
      MENUITEM "&Undo\tAlt+BkSp"          IDM_UNDO
      MENUITEM SEPARATOR
      MENUITEM "Cu&t\tDel"                IDM_CUT
      MENUITEM "&Copy\tCtrl+Ins"          IDM_COPY
      MENUITEM "&Paste\tShift+Ins"        IDM_PASTE
      MENUITEM "C&lear\tShift+Del"        IDM_CLEAR
      MENUITEM SEPARATOR
      MENUITEM "&Select All"              IDM_SELALL
   END
END

MailMenu MENU
BEGIN
        POPUP    "&Mail"
   BEGIN
      MENUITEM "&Mail completed message"      IDM_POST
      MENUITEM "&Cancel"                      IDM_CANCEL
   END
   POPUP    "&Edit"
   BEGIN
      MENUITEM "&Undo\tAlt+BkSp"          IDM_UNDO
      MENUITEM SEPARATOR
      MENUITEM "Cu&t\tDel"                IDM_CUT
      MENUITEM "&Copy\tCtrl+Ins"          IDM_COPY
      MENUITEM "&Paste\tShift+Ins"        IDM_PASTE
      MENUITEM "C&lear\tShift+Del"        IDM_CLEAR
      MENUITEM SEPARATOR
      MENUITEM "&Select All"              IDM_SELALL
   END
END


WinVNAccel ACCELERATORS
   BEGIN
                VK_F4, IDM_FIND_NEXT_SAME, VIRTKEY
                VK_F1, IDM_HELP,  VIRTKEY
   END

rcinclude winvn.dlg
/*
rcinclude wvcncm.dlg
rcinclude saveart.dlg
rcinclude wvfind.dlg
rcinclude list.dlg
rcinclude grplist.dlg
*/
