#if PGP_DEMO

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_NAG1             BITMAP  DISCARDABLE     "res\\eval1bit.bmp"
IDB_NAG4             BITMAP  DISCARDABLE     "res\\eval4bit.bmp"
IDB_NAG8             BITMAP  DISCARDABLE     "res\\eval8bit.bmp"

#endif	// PGP_DEMO

