/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

#if PGP_FREEWARE
IDB_SPLASH1             BITMAP  DISCARDABLE     "res\\freesplash1bit.bmp"
IDB_SPLASH4             BITMAP  DISCARDABLE     "res\\freesplash4bit.bmp"
IDB_SPLASH8             BITMAP  DISCARDABLE     "res\\freesplash8bit.bmp"
#else
#if PGP_PERSONAL_PRIVACY
IDB_SPLASH1             BITMAP  DISCARDABLE     "res\\splash1bit.bmp"
IDB_SPLASH4             BITMAP  DISCARDABLE     "res\\splash4bit.bmp"
IDB_SPLASH8             BITMAP  DISCARDABLE     "res\\splash8bit.bmp"
#else
IDB_SPLASH1             BITMAP  DISCARDABLE     "res\\bizsplash1bit.bmp"
IDB_SPLASH4             BITMAP  DISCARDABLE     "res\\bizsplash4bit.bmp"
IDB_SPLASH8             BITMAP  DISCARDABLE     "res\\bizsplash8bit.bmp"
#endif
#endif

#if CREDIT_RSA_BSAFE
IDB_CREDITS8            BITMAP  DISCARDABLE     "res\\rsacredits8bit.bmp"
IDB_CREDITS4            BITMAP  DISCARDABLE     "res\\rsacredits4bit.bmp"
IDB_CREDITS1            BITMAP  DISCARDABLE     "res\\rsacredits1bit.bmp"
#else
IDB_CREDITS8            BITMAP  DISCARDABLE     "res\\credits8bit.bmp"
IDB_CREDITS4            BITMAP  DISCARDABLE     "res\\credits4bit.bmp"
IDB_CREDITS1            BITMAP  DISCARDABLE     "res\\credits1bit.bmp"
#endif
