#ifdef EVAL_TIMEOUT

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_NAG1          BITMAP  DISCARDABLE      "res\\eval1bit.bmp"
IDB_NAG4          BITMAP  DISCARDABLE      "res\\eval4bit.bmp"
IDB_NAG8          BITMAP  DISCARDABLE      "res\\eval8bit.bmp"
IDB_NAG24         BITMAP  DISCARDABLE      "res\\eval24bit.bmp"

#endif	// EVAL_TIMEOUT
