/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

#ifdef PGP_FREEWARE
IDB_SPLASH1          BITMAP  DISCARDABLE     "res\\freesplash1bit.bmp"
IDB_SPLASH4          BITMAP  DISCARDABLE     "res\\freesplash4bit.bmp"
IDB_SPLASH8          BITMAP  DISCARDABLE     "res\\freesplash8bit.bmp"
IDB_SPLASH24         BITMAP  DISCARDABLE     "Res\\freesplash24bit.bmp"
#else
IDB_SPLASH1          BITMAP  DISCARDABLE     "res\\splash1bit.bmp"
IDB_SPLASH4          BITMAP  DISCARDABLE     "res\\splash4bit.bmp"
IDB_SPLASH8          BITMAP  DISCARDABLE     "res\\splash8bit.bmp"
IDB_SPLASH24         BITMAP  DISCARDABLE     "Res\\splash24bit.bmp"
#endif
