RULES for uploaders:

1) Funet is stands for Finnish University network. We are not collecting
   just any crypto stuff. We collect and distribute cryptographic source
   codes and documents for educational and reserch purposes.
   
2) Binary uploads are accepted only if the source files are included.

3) Please don't bother to offer any more Snake Oil material, the world
   is already full of it. If you don't know what Snake Oil means,
   you are probably just uploading it.

4) If you are still interested, please fill out the 0Upload.inf form
   and send it to us. The files can be uploaded in /pub/crypt/incoming
   directory. Unnotified uploads will be deleted automatically.

Regards,
Crypt-adm@ftp.funet.fi

PS. Before uploading you should check if we have that already from
    /pub/crypt/FILES index.
